* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Tahoma, sans-serif;
    background-color: black;
}

/* background: radial-gradient(ellipse at center,#316997 0%,#1a263d 100%); */

div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100%;
    background-color: white;
    animation: move 4s linear infinite;
}

div span {
    font-size: 80px;
    letter-spacing: 5px;
    text-transform: uppercase;
    line-height: 1;
    mix-blend-mode: difference;
}

@keyframes move {

    0%,
    100% {
        left: 0;
    }

    50% {
        left: calc(100% - 100px);
    }
}